@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Poppins:ital,wght@0,400;1,400;1,700;1,900&display=swap');

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* Code */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.godwrap {
    background-image: url(Header-Img/Background.jpg);
    background-size: cover;
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 7fr 4fr 1fr;
    grid-template-areas: 
    "nav nav nav nav"
    ". topp topp ."
    ". con10t picflip ."
    ". con10t side-content ."
    ". footer footer .";
}

nav {
    grid-area: nav;
    background-color: #111e2f;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    min-height: 9vh;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo img {
    border-radius: 50%;
    max-width: 40px;
    max-height: 40px;
    animation: spin 3s linear infinite;
}

.logo {
    display: flex;
    align-items: center;
    color: #a4bcbc;
    font-size: 22px;
    font-weight: 900;
    width: 10%;
}

@keyframes spin {
    100%{
        transform: rotate(360deg);
    }
}

.nav-li {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-li ul {
    list-style: none;
}

.nav-li a {
    color: #a4bcbc;
    text-decoration: none;
    word-spacing: 1px;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.menu {
    display: none;
    cursor: pointer;
    transition: 0.5s;
}

.menu div {
    background: transparent;
    width: 20px;
    height: 20px;
    padding: 5px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 5px rgb(206, 218, 206);
}

/*-------------------------------------------------------------*/
/*----------------------------Header---------------------------*/
/*-------------------------------------------------------------*/

.topp {
    grid-area: topp;
    display: flex;
    gap: 20px;
    font-family: 'Lora', sans-serif;
    background-image: url(Header-Img/backgrd.jpg);
    background-size: cover;
    padding: 15px 15px;
    border: 5px solid #020e49;
    box-shadow: 2px 2px #0c0c0c;
}

.topp h1 {
    font-size: 40px;
}

.Phil img{
    max-height: 290px;
    height: auto;
    max-width: 100%;
    min-width: 340px;
    border: 3px solid #020e49;
}

.Phil-content {
    display: grid;
    grid-template-rows: repeat(3);
    padding: 2px 2px;
}

/*-------------------------------------------------------------*/
/*--------------------------End-Header-------------------------*/
/*-------------------------------------------------------------*/

/*-------------------------------------------------------------*/
/*---------------------------Content---------------------------*/
/*-------------------------------------------------------------*/

img {
    max-width: 100%;
}

.allnum img {
    max-height: 270px;
    min-height: 270px;
    max-width: 326px;
    min-width: 326px;
    border: 5px solid #2a3142;
}

.con10t {
    grid-area: con10t;
    display: grid;
    grid-template-rows: repeat(10);
    padding: 4px 4px;
    row-gap: 20px;
}

.allnum {
    display: flex;
    gap: 10px;
    background-color: #738D73;
    border: 2px solid #2a3142;
    padding: 13px;
    box-shadow: 1px 2px #0c0c0c;
}

.content-info {
    display: grid;
    grid-template-rows: repeat(3);
    row-gap: 5px;
}

.definition h2 {
    text-transform: capitalize;
}

.definition p {
    margin: 3px 6px;
}

.example h2 {
    text-transform: capitalize;
}

.example p {
    margin: 3px 6px;
}

.btn {
    background-color: #738D73;
    border: none;
    text-decoration: underline;
    color: #020e49;
    cursor: pointer;
}

.btn:hover {
    color: #2f4e67;
}

.hash {
    color: #0c0c0c;
    font-size: 22px;
    font-weight: 900;
}

.hash-text {
    color: #0c0c0c;
    font-size: 20px;
    font-weight: 900;
}

/*-------------------------------------------------------------*/
/*-------------------------End-Content-------------------------*/
/*-------------------------------------------------------------*/

/*-------------------------------------------------------------*/
/*---------------------------PicFlip---------------------------*/
/*-------------------------------------------------------------*/

.picflip {
    grid-area: picflip;

}

.picflip h2 {
    text-align: center;
    margin: 4px;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}

.picflip div {
    border: 3px solid #84693b;
    height: 550px;
    margin: 4px;
    overflow: hidden;
    box-shadow: 2px 2px #0c0c0c;
}

.picflip div > img {
    object-fit: cover;
    min-height: 100%;
    width: 100%;
    transition: all 1s ease;
}

.picflip div > img:hover {
    transform: scale(1.5);
}

.zuccer {
    display: none;
}

.picflip div:hover > .zuccer{
    display: block;
}

.picflip:hover div:hover > .mark{
    display: none;
}

/*-------------------------------------------------------------*/
/*-------------------------End-PicFlip-------------------------*/
/*-------------------------------------------------------------*/

/*-------------------------------------------------------------*/
/*--------------------------SideContent------------------------*/
/*-------------------------------------------------------------*/

.side-content {
    text-align: center;
    background-color: #738D73;
    grid-area: side-content;
    border: 4px solid #2a3142;
    height: 1400px;
    margin: 4px;
    overflow: hidden;
    box-shadow: 1px 2px #0c0c0c;
}

.side-vids {
    display: grid;
    grid-template-rows: repeat(4);
    
}

#ulol {
    border-bottom: 2px solid #2a3142;
    margin: 3px;
}

.side-img {
    display: grid;
    grid-template-rows: repeat(2);
    border-top: 2px solid #2a3142;
    border-bottom: 2px solid #2a3142;
    row-gap: 4px;
    object-fit: cover;
    min-height: 100%;
    max-height: 400px;
    width: 100%;
    overflow: hidden;
}

.side-img img {
    border-top: 4px solid #2a3142;
}

.side-img h2{
    text-align: center;
    padding: 2px;
}

.side-descript {
    border-top: 2px solid #2a3142;
}

.side-descript h2 {
    margin: 4px;
}

.side-descript p {
    margin: 2px;
    text-align: left;
}

/*-------------------------------------------------------------*/
/*------------------------End-SideContent----------------------*/
/*-------------------------------------------------------------*/

/*-------------------------------------------------------------*/
/*-----------------------------Footer--------------------------*/
/*-------------------------------------------------------------*/

footer {
    grid-area: footer;
    background-color: #738D73;
    border: 3px solid #2a3142;
    padding: 10px;
    box-shadow: 1px 2px #0c0c0c;
    height: auto;
}

.feet-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: Poppins;
}

.feet-content h2 {
    color: #2f4e67;
    font-size: 1.8rem;
    font-weight: 900;
    text-transform: capitalize;
    line-height: 3rem;
}

.feet-content p {
    font-size: 14px;
    margin: 10px;
    line-height: 28px;
    max-width: 500px;
}

.feet-content ul {
    display: flex;
    justify-content: space-around;
    width: 20%;
    list-style: none;
}

.container-feet {
    width: 40px;
    height: 40px;
}

.feet-content li img {
    text-decoration: none;
    transform: scale(0.7);
    transition: 0.5s;
}

.feet-content li img:hover {
    transform: scale(0.8) translateY(-15px);
}

.feet-bottom {
    text-align: center;
    background-color: #2f4e67;
    border-radius: 50%;
    padding: 20px 0;
}

.feet-bottom p {
    text-transform: capitalize;
}

.feet-bottom span {
    opacity: 0.4;
    font-weight: 500;
}

/*-------------------------------------------------------------*/
/*---------------------------End-Footer------------------------*/
/*-------------------------------------------------------------*/

@media screen and (max-width:1200px) {

    .nav-li {
        width: 60%;
    }

}

@media screen and (max-width:900px) {
    .godwrap{
        overflow-x: hidden;
    }

    .logo img {
        max-width: 30px;
        max-height: 30px;
    }

    .wrapper {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "nav nav"
        "topp topp"
        "con10t con10t"
        "picflip picflip"
        "side-content side-content"
        "footer footer";
    }

    .nav-li {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 9vh;
        background-color: #2f455d;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        opacity: 0;
    }
    .nav-li li {
        opacity: 0;
    }
    .menu {
        display: block;
    }

    .logo {
        font-size: 20px;
        width: 50%;
    }

    .Phil-content {
        grid-template-columns: 1fr;
        grid-row-gap: 10px;
    }

    .Phil {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    header {
        display: flex;
        flex-direction: column;
    }

    .allnum {
        display: flex;
        flex-direction: column;
    }
    .allnum img {
        grid-template-columns: 1fr;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .topp {
        grid-template-columns: 1fr;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    form {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.menu-active {
    transform: scale(1.2);
}